<ion-content class="new-background">
  <button class="btn" (click)="closeModal()"><i class="fas fa-times"></i></button>
  <div>
    <app-celebration></app-celebration>
  </div>
  <div class="congrats-text">
    <div class="congrats-bold">Congradulation!<br></div>
    <div class="congrats-details">You have completed your first challenge.<br></div>
    <div class="congrats-details"><span>Reward:<span class='coin-icon'></span><span class="reward-amount">20</span></span></div>
  </div>
  <div class="image-position">
    <img src="../../assets/img/monie_congrats.png">
  </div>
</ion-content>