<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      <app-summary-header style="z-index: 1;"></app-summary-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="navbar-section">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" (click)="switchSummaryTab()"
          [ngClass]="{'active': isActiveTab('summary') }">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="switchDetailsTab()" [ngClass]="{'active': isActiveTab('details') }">Expenses</a>
      </li>
    </ul>
  </div>
  <div class="scrollable-container">
    <ng-container *ngComponentOutlet="openTab"></ng-container>
  </div>



</ion-content>