@import "../app.component.scss";

.page-wrap {
    margin: 10px;
}

.list-title {
    margin-bottom: 5px;
}

.add-button {
    float: right;
    margin-right: 10px;
    font-size: x-small;
}

.track-amount {
    text-align: right;
    line-height: 0.8;
    float: right;
    font-size: medium;
    padding: 0;
 }

 .challenge-description {
    word-wrap: break-word;
 }

.list-group li{
    border: none;
}

.subdescription {
    font-size: 10px;
    color: grey;
}