@import "../app.component.scss";

.track-amount {
    text-align: right;
    line-height: 0.8;
    float: right;
    padding: 0;
    color: #999999;
 }

 .challenge-description {
    word-wrap: break-word;
 }

.list-group li{
    border: none;
}

.subdescription {
    font-size: 10px;
    color: grey;
}

.my-custom-class {
    --background: #222;
  }

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.completion-status {
    font-size: 56px;
    font-weight: 800;
}

.add-button {
    margin-right: 10px;
}

.completed {
    color: #65B14B;
}